<div id="<%= dom_id form_submission %>">
  <p>
    <strong>Email:</strong>
    <%= form_submission.email %>
  </p>

  <p>
    <strong>Song Link:</strong>
    <%= form_submission.song_link %>
  </p>

</div>
