<h1>Editing form submission</h1>

<%= render "form", form_submission: @form_submission %>

<br>

<div>
  <%= link_to "Show this form submission", @form_submission %> |
  <%= link_to "Back to form submissions", form_submissions_path %>
</div>
